#######################################
# Database
#######################################
DB_HOST=localhost
DB_PORT=5435
DB_NAME=codejudge
DB_USERNAME=postgres
DB_PASSWORD=postgres

#######################################
# Test Database
#######################################
DB_TEST_HOST=localhost
DB_TEST_PORT=5435
DB_TEST_NAME=codejudge_test
DB_TEST_USERNAME=postgres
DB_TEST_PASSWORD=postgres

#######################################
# Redis
#######################################
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=

#######################################
# Test Redis
#######################################
REDIS_TEST_HOST=localhost
REDIS_TEST_PORT=6380
REDIS_TEST_PASSWORD=

#######################################
# Mail
#######################################
MAIL_HOST=localhost
MAIL_PORT=1026
MAILPIT_UI_PORT=8026